.frag{
    justify-self: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20vh;
    gap: 5px;
    width: 300px;
}

button, input{
    text-align: center;
    border-radius: 16px;
    border: 2px solid var(--color-accent);
    background-color: var(--color-primary);
    color: var(--color-text);
    box-sizing: border-box;
    padding: 7px;
    font-size: medium;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
}

button{
    cursor: pointer;
}

button:hover{
    background-color: var(--color-accent);
}